*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.con {
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 0;
  position: absolute;
}

.screen {
  width: 100%;
  height: 100%;
}

.a-link {
  padding: 1vw;
  text-decoration: none;
  color: white !important;
}

.a-link:hover {
  text-decoration: none;
  color: #FCC840 !important;

}



.bg-intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
  list-style: none;
  padding: 0;
  position: relative;
  top: 5vh;
  z-index: 1;
}

.navbtn {
  background: black;
  border: 0.5vh solid white; 
  padding: 1vh;
  margin: 1vh;
  border-radius: 4vh;
  font-family: 'CustomFont';
  color: white; 
}

.navbtn:hover {
    border: 0.5vh solid #37D0FA; 
    background: #CA342D;

}

@font-face {
  font-family: 'CustomFont';
  src: url('../@font-face/0b7d8a39b62b28cf0cfe3cea90b8baa3.eot');
  src: url('../@font-face/0b7d8a39b62b28cf0cfe3cea90b8baa3.woff') format('woff');
 
}
